<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"layout:decorate="~{layout/layout}">
	<head>
		<title>Login</title>
		
	</head>
	<body>
		<div layout:fragment="content">
			<form action="#" th:action="@{/dashboard/store/save}" th:object="${store}" method="post">
				<input type="hidden" th:field="*{id}"/>
				<input th:field="*{name}" placeholder="Name" />
				<input th:field="*{address}" placeholder="Address"/>
				<input th:field="*{city}" placeholder="City"/>
				<input th:field="*{state}" placeholder="State"/>
				<input th:field="*{zip}" placeholder="Zip"/>
				<input th:field="*{note}" placeholder="Note"/>
				<button type="submit">Save</button>
			</form>
		</div>

	</body>
</html>