<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>

		
	</head>
	<body>
		<div th:fragment="navbar">
			<nav class="navbar navbar-default"  >
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="/">Invoice Tracker</a>
				    </div>
				    <ul class="nav navbar-nav navbar-right">
				      	<li sec:authorize=" not isAuthenticated()"><a th:href="@{/}">Home</a></li>
			      		<li sec:authorize="not isAuthenticated()"><a th:href="@{/login}">Login</a></li>
				      	<li sec:authorize="not isAuthenticated()"><a th:href="@{/register}">Register</a></li>
     				    <li sec:authorize="isAuthenticated()"><a th:href="@{/dashboard/}">Dashboard</a></li>
				      	<li sec:authorize="isAuthenticated()"><a th:href="@{/dashboard/store/}">Stores</a></li>
      				    <li sec:authorize="isAuthenticated()">
							<form action="#" th:action="@{/logout}"  method="post">
					      		<input type="submit" value="Logout" class="btn btn-default navbar-btn"/>
					      	</form>
				      	</li>
				    </ul>
				  </div>
			</nav>	  
		</div>      	
	</body>
</html>