<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Invoice</title>
		
	</head>
	<body>

		<form action="#" th:action="@{/dashboard/invoice/save(storeId=${storeId})}" th:object="${invoiceDTO}" method="post">
			<ul>
			  <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
			</ul>
			
			<input type="hidden" th:field="*{invoice.id}"/>
			<input th:field="*{invoice.terms}" placeholder="Terms" />
			<input th:field="*{invoice.note}" placeholder="Note" />
			<input th:field="*{invoice.discount}" placeholder="discount" />
			<br/>
			<h3>Invoice Items</h3>
			<table>
				<tbody>
					<tr th:each="inventoryItem, stat : *{invoiceItems}">
						<td><input th:field="*{invoiceItems[__${stat.index}__].description}" /></td>
						<td><input th:field="*{invoiceItems[__${stat.index}__].quantity}" /></td>
						<td><input th:field="*{invoiceItems[__${stat.index}__].price}" /></td>
					</tr>
				</tbody>
			</table>
			<br/>
			<h3>Credit Items</h3>
			<table>
				<tbody>
					<tr th:each="creditItem, stat : *{creditItems}">
						<td><input th:field="*{creditItems[__${stat.index}__].description}" /></td>
						<td><input th:field="*{creditItems[__${stat.index}__].quantity}" /></td>
						<td><input th:field="*{creditItems[__${stat.index}__].price}" /></td>
					</tr>
				</tbody>
			</table>
			
			<button type="submit">Save</button>
		</form>
	</body>
</html>