<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Store</title>
		
	</head>
	<body>
		<h2>Invoices </h2>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Link</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="invoice: ${invoices}">
					<td th:text="${invoice.id}"/>
					<td th:text="${invoice.invoiceNumber}" />
					<td th:text="${invoice.note}" />
					<td th:text="${invoice.createdBy}" />
					<!--|<a th:href="@{'/dashboard/store/'+${store.id}}">Detail</a>  -->
					<td><a th:href="@{/dashboard/invoice/update(id=${invoice.id})}">Update</a> </td>
					<td><a th:href="@{'/dashboard/invoice/'+${invoice.id}}">Details</a> </td>
				</tr>
			</tbody>
		</table>
	</body>
</html>