<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"layout:decorate="~{layout/layout}">
	<head>
		<title>Invoice Details</title>
		
	</head>
	<body>
		<div layout:fragment="content"> 
			<a th:href="@{/dashboard/invoice/(storeId=${storeId})}">Back to Invoices</a>
			<p th:text="${invoice.invoiceNumber}"></p>
			<p th:text="${invoice.dateCreated}"></p>
			<p th:text="${invoice.createdBy}"></p>
			<p th:text="${invoice.terms}"></p>
			<p th:text="${invoice.note}"></p>
		</div>
	</body>
</html>