<%@ taglib prefix="security" uri="http://www.springframework.org/security/tags" %>
<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		
	</head>
	<body>
		<div sec:authorize="isAuthenticated()">
			Authenticated User!
			Logged user: <span sec:authentication="name">Bob</span>
			Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
			<form action="#" th:action="@{/logout}" method="POST">
				<button type="submit">logout</button>
			</form>
		</div>
		<p>Hello from the home page</p>
		
	</body>
</html>